* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(10, 0, 10);
    color: rgb(255, 230, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}